@charset "utf-8";
/* CSS Document */

body {
	background-color: #133345;
	margin: 0px;
	padding: 0px;
	}
	
#header {
	margin: 0px auto;
	padding: 0px;
	width: 841px;
	}
	
#header h1 {
	margin: 0 auto;
	padding: 0px;
	width: 841px;
	}
	
#header h1 a {
	display: block;
	overflow: hidden;
	width: 841px;
	height: 0px;
	padding: 119px 0px 0px 0px;
	background-image:url(../images/headerLogo.gif);
	margin: 0px auto;
	}
	
#header ul {
	background-image:url(../images/navigation.gif);
	height:51px;
	margin:0px auto;
	padding:0px;
	width:841px;
	}
	
#header li {
	float:left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
	
#header li a {
	padding-top: 51px;
	height: 0px;
	display: block;
	overflow: hidden;
	}
	
#header li a:hover {
	background-image: url(../images/navigationHover.gif);
	background-repeat: no-repeat;
	}
	
#header li#home a {
	width: 104px;
	}	
	
#header li#home a:hover {
	background-position: 0px 0px;
	}		
	
#header li#gallery a {
	width: 140px;
	}	
	
#header li#gallery a:hover {
	background-position: -104px 0px;
	}	
	
#header li#classic a {
	width: 140px;
	}	
	
#header li#classic a:hover {
	background-position: -244px 0px;
	}	
	
#header li#media a {
	width: 140px;
	}	
	
#header li#media a:hover {
	background-position: -384px 0px;
	}			


#header li#blog a {
	width: 104px;
	}	
	
#header li#blog a:hover {
	background-position: -524px 0px;
	}	

#header li#site a {
	width: 110px;
	}	
	
#header li#site a:hover {
	background-position: -628px 0px;
	}	
	
#header li#links a {
	width: 103px;
	}	
	
#header li#links a:hover {
	background-position: -738px 0px;
	}	
	
.clearLeft {
	clear: left;
	height: 0px;
	width: 0px;
	}

#headBanner {
	margin: 0 auto;
	padding: 0px;
	width: 849px;
	}

#headBanner p {
	width: 812px;
	height: 206px;
	border: 18px solid #0A627C;
	display: block;
	margin: 0px 0px 16px 3px;
	}

#headBanner img {
	border: 18px solid #4C8689;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	}
	
h2 {
    color: #FDE871;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 27px;
    font-style: italic;
    font-weight: normal;
    line-height: 28px;
    margin: 6px 0;
    padding: 0;
    }
    
#adminArea {
  width: 858px;
  margin: 0 auto;
  margin-bottom: -15px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #69B4B8;  
  }
  
#adminArea p {
    margin-left: 22px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #69B4B8;
    }
    
    
#adminArea a {
    color: #FFFFFF;
    text-decoration: none;
    }
  
.addButton {
  display: block;
  width: 858px;
  padding-left: 8px;
  margin: 0 auto;
  padding-bottom: 70px;
  }
  
.addButton a {
  display: block;
  background-color: #0A627C;
  padding: 12px 16px;
  width: 150px;
  margin-left: 5px;
  margin-top: 10px;
  color: #FDE871;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  float: left;
  }
  
.addButton a:hover {
  background-color: #102A39;
  color: #ffffff;
  }
  
.destroyImage a {
  text-decoration: none;
  color: #FDE871;
  font-weight: bold;
  text-transform: uppercase;}

#main_categories {
  width:858px;
  margin: 0px auto;
  padding-left: 7px;
  margin-top: 15px;
  }
  
.subcategories {
    background-color: #102A39;
    color: #FDE871;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 5px;
    }
    
.subcategories td {
  padding: 6px 16px 18px 16px;
  }
    
.subcategories a {
    color: #69B4B8;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    }

.subcategories a:hover {
    color: #ffffff;
    text-decoraton: none;
    }
  
.gallerySummary {
    background-color: #102A39;
    color: #69B4B8;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 12px 16px;
}
  
tr.head_category td{
    background-color: #0A627C;
    color: #FDE871;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
    font-size:10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    }
    
tr.head_category td span {
  text-align: center;
  }
  
tr.main td {
  background-color: #102A39;
    color: #FDE871;
    padding: 12px 15px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 17px;
  }
  
  
tr.main a {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #69B4B8;
    }
    
tr.main a:hover {
    color: #ffffff;
    }
    
tr.children td {
    background-color: #102A39;
    color: #FDE871;
    padding: 8px 10px 8px 45px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 17px;
    }

tr.children a {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #69B4B8;
    }

tr.children a:hover {
    color: #ffffff;
    }
    
table.latest_images {
  width:858px;
  padding-left: 8px;
  margin: 0 auto;
}


tr#latestImg td {
    text-align: left;
    
    padding: 12px 16px;
    }

tr#latestImg {
    background-color: #0A627C;
    color: #FDE871;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

table.latest_images tr.images td {
    background-color: #102A39;
    padding: 12px 0px 28px 0px;
    }

table.latest_images tr.images td ul {
  padding: 0px;
  margin: 0px;
  }

table.latest_images tr.images td ul li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0 auto;
    padding: 16px 0px 0px 0px;
    text-align: center;
    width: 212px;
    background-color: #102A39;
    height: 155px;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    line-height: 14px;
    margin-bottom: 5px;
}


table.random_images {
  width:858px;
  padding-left: 8px;
  margin: 0 auto;
}


tr#randomImg td {
    text-align: left;
    
    padding: 12px 16px;
    }

tr#randomImg {
    background-color: #0A627C;
    color: #FDE871;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

table.random_images tr.images2 td {
    background-color: #102A39;
    padding: 12px 0px 28px 0px;
    }

table.random_images tr.images2 td ul {
  padding: 0px;
  margin: 0px;
  }

table.random_images tr.images2 td ul li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0 auto;
    padding: 16px 0px 0px 0px;
    text-align: center;
    width: 212px;
    background-color: #102A39;
    height: 155px;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    line-height: 14px;
    margin-bottom: 5px;
}

table.contents {
  width: 858px;
  padding-left: 8px;
  border: 0px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 15px;
  }
  
#galleryBreadcrumbs {
    background-color: #102A39;
    color: #69B4B8;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
    }
    
#galleryBreadcrumbs a {
    color: #69B4B8;
    text-decoration: none;
    }
    
#galleryBreadcrumbs a:hover {
    color: #ffffff;
    text-decoration: none;
    }
    
.albumCategories td {
    background-color: #0A627C;
    color: #FDE871;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
    }
    
tr.albums {
  background-color: #102A39;
  }

tr.albums ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
  }
  
tr.albums li {
    width: 394px;
    display: block;
    float: left;
    padding: 15px;
    margin: 0px;
    list-style: none;
    height: 100px;
    }
    
tr.albums li img {
    float: left;
    margin-right: 12px;}
    
tr.albums li strong a {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #69B4B8;
    text-decoration: none;
    vertical-align: top;
    }
    
tr.albums li p.details {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    color: #ffffff;
    margin: 0px;
    vertical-align: top;
    }
    
tr.subcategory td {
    background-color: #102A39;
    color: #FDE871;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 17px;
    padding: 12px 15px;
    }
    
tr.subcategory td a {
    color: #69B4B8;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    }
    
tr.subcategory td a:hover {
    color: #ffffff;
    }
    
tr.summary td {
    background-color: #0A627C;
    color: #FDE871;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
}

tr.summary th {
    background-color: #0A627C;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
    text-align: left;
}

table#albumMain {
  width: 858px;
  margin: 0 auto;
  padding-left: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  }
  
#albumName {
    background-color: #0A627C;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    }
    
.albumDisplay {
    background-color: #102A39;
    }
    
.albumDisplay td {
    padding: 12px 0 28px;
    }
    
.albumDisplay ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
  }
  
.albumDisplay li {
    background-color: #102A39;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    height: 155px;
    line-height: 14px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 16px 0 0;
    text-align: center;
    width: 212px;
    margin-bottom: 5px;
  }
  
.albumPaginate a {
    background-color: #0A627C;
    padding: 12px 8px;
    color: #ffffff;
    margin: 0px;
    text-decoration: none;
  }
  
span.current {
    background-color: #102A39;
    padding: 12px 8px;
    color: #ffffff;
    margin: 0px;
    }
  
    
span.prev {
    display: none;
    }
    
span.next {
    display: none;
    }
    
table.imagePage {
    width: 858px;
    padding-left: 8px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    }
    
#largeThumbnail {
    background-color: #102A39;
    padding: 20px;
    margin: 0 auto;
    }
    
#largeThumbnail p {
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 16px;
    }
    
#largeThumbnail img {
    border-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    margin: 2px;
    background-color: #000000;
    padding: 1px;
    }
    
    
.other_images {
    background-color: #102A39;
    padding: 0px 0px 16px 0px
    }
    
.other_images ul {
  padding: 0px;
  margin: 0px auto;
  width: 600px;
  display: block;
  }
  
.other_images li {
  display: inline;
  list-style: none;
  padding-right: 5px;
  margin: 0px auto;
  width: 100px;
  }
  

#content {
	margin: 0px auto;
	width: 886px;
	padding: 0px;
	}
	
#subContent {
	margin: 15px 24px 0px 24px;
	width: 545px;
	padding: 0px 0px 0px 0px;
	float: left;
	}
	
#subContent h2 {
	font-family: Georgia, Times New Roman, Times, serif;
	color: #fde871;
	font-size: 27px;
	line-height: 28px;
	font-style: italic;
	font-weight: normal;
	margin: 6px 0px;
	padding: 0px;
	}	
	
#subContent h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	}
	
#subContent h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	margin: 16px 0px 0px 0px;
	padding: 0px;
	}
	

	
#subContent p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 24px;
	}	
	
#subContent a {
	color: #69b4b8;
	font-weight: bold;
	text-decoration: none;
	}
	
#subContent a:hover {
	color: #fde871;
	}
	
#subContent strong {
	font-weight: bold;
	color: #fde871;
	}

div#subContent img {
	background-color:#CCCCCC;
	border:10px solid white;
	margin:8px 5px 5px 0;
	padding:1px;
	}
	
div#loadMoreBlogs {
	width: 33px;
	height: 0px;
	padding: 22px 0px 0px 0px;
	margin: 6px 15px 0px 0px;
	display: block;
	overflow: hidden;
	background-image: url(../images/showMore.gif);
	background-repeat: no-repeat;
	float: right;
}

	
/*---- CLASSIC / VINTAGE ----*/	
	
	
div.vintage {
	margin: 30px 0px 53px 0px;
	padding: 0px;
}
	
div#subContent div.vintage img {
	background-color: #133345;
	border: 8px solid #4C8689;
	margin: 4px 8px 8px 0px;
	padding: 0px;
}


div#subContent div.vintage h4 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	border-bottom: 1px solid #0A627C;
}

div#subContent div.vintage h4 a {
	font-weight: normal;
}

div#subContent div.vintage h5 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	border-bottom: 1px solid #0A627C;
	padding-bottom: 17px;
}

span.arrow {
	display: block;
	overflow: hidden;
	background-image:url(../images/enterArrow.gif);
	padding: 18px 0px 0px 0px;
	width: 18px;
	height: 0px;
	float: right;
	margin: 0 131px 0 0;
}

span.arrow2 {
	display: block;
	overflow: hidden;
	background-image:url(../images/enterArrow.gif);
	padding: 18px 0px 0px 0px;
	width: 18px;
	height: 0px;
	float: right;
	margin: 0 95px 0 0;
}
	
/*---- END CLASSIC / VINTAGE ----*/

/*---- FAQ BEGIN ----*/

ul#faq {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 26px;
	list-style: square;
	margin: 22px 0px 30px 0px;
}

#subContent h4.h4_faq {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 16px;
	color: #FDE871;
	font-style: italic;
	border-bottom: 1px solid #0A627C;
	padding-bottom: 6px;
	font-weight: normal;
	margin-top: 26px;
}

#subContent h5.button a {
	background-color:#0A627C;
	border:8px solid #0A627C;
	color:#FFFFFF;
	float: right;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
}


#subContent h5.button a:hover {
	background-color: #578589;
	border: 8px solid #578589;
	color: #FDE871;
}

/*---- END FAQ ----*/

/*---- LINKS BEGIN ----*/


div.links {
	margin: 30px 0px 40px 0px;
	padding: 0px;
}
	
div#subContent div.links img {
	background-color: #133345;
	border: 8px solid #4C8689;
	margin: 4px 8px 8px 0px;
	padding: 0px;
}


div#subContent div.links h4 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	border-bottom: 1px solid #0A627C;
}

div#subContent div.links h4 a {
	font-weight: normal;
}

div#subContent div.links h5 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	border-bottom: 1px solid #0A627C;
	padding-bottom: 17px;
}

div#subContent div.links ul {
	color:#FFFFFF;
	display:block;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:30px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0px 0px 0px 20px;
	padding:8px 0px 0px 0px;
	width:300px;
}

div#subContent div.links li {
	display:block;
	float:left;
	margin: 0px;
	padding:0 24px 0px 0px;
	width:125px;
}
	

div#subContent div.links a {
	color: #FDE871;
}

div#subContent div.links a:hover {
	color: #69B4B8;
}

/*---- END LINKS ----*/

/*---- SITE BEGIN ----*/

div.site {
	margin: 30px 0px 45px 0px;
	padding: 0px;
}
	
div#subContent div.site img {
	background-color: #133345;
	border: 8px solid #4C8689;
	margin: 4px 8px 8px 0px;
	padding: 0px;
}


div#subContent div.site h4 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	border-bottom: 1px solid #0A627C;
}

div#subContent div.site h4 a {
	font-weight: normal;
}

div#subContent div.site p {
	border-bottom:1px solid #0A627C;
	margin-bottom:-14px;
	padding-bottom:14px;
}

div#subContent div.site a.siteLink {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	float: right;
	background-color: #0A627C;
	border: 8px solid #0A627C;
}

div#subContent div.site a.siteLink:hover {
	background-color: #578589;
	border: 8px solid #578589;
	color: #FDE871;
}	

/*---- END SITE ----*/


#intro { 
	width: 656px;
	height: 212px;
	float: left;
	padding: 8px 12px 0px 23px;
	margin: 0px;
	}
	
#intro h2 {
	font-family: Georgia, Times New Roman, Times, serif;
	color: #fde871;
	font-size: 27px;
	line-height: 28px;
	font-style: italic;
	font-weight: normal;
	margin: 6px 0px;
	padding: 0px;
	}
	
	
#intro p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
	}
	
#twitter {
	width: 195px;
	height: 216px;
	padding: 0px;
	margin: 0px;
	float: left;
	}
	
#twitterScripts {
	width: 195px;
	background-image:url(../images/twitterBG.gif);
	background-repeat: repeat-y;
	padding: 0px;
	display: block;
	}
	
#twitter_div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #133345;
	line-height: 18px;
	padding: 17px 30px 0px 14px;
	margin: 0px;
	}
	
#twitter_div a {
	color: #fde871;
	font-size: 10px;
	text-decoration: none;
	display: block;
	}
	
#twitter_update_list li span a {
	display: inline;
}

#twitter_div a:hover {
	color: #ffffff;
	}
	
ul#twitter_update_list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
ul#twitter_update_list li {
	clear: right;
	}
	
#twitterBird {
	margin: 0px;
	padding: 0px;
	width: 195px;
	}
	
.clearRight {
	clear: right;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	}
	
.clearBoth {
	clear: both;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	}	
	
#twitterBird a {
	width: 195px;
	padding: 81px 0px 0px 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	background-image:url(../images/twitterBird.jpg);
	background-repeat: no-repeat;
	height: 0px;
	}
	
#rightColumn {
	width: 278px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	}
	
#rightColumn h3 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 22px;
	font-style: italic;
	color: #FDE871;
	font-weight: normal;
	margin: 3px 0px;
	}
	
#linkBox {
	width: 278px;
	padding: 0px 0px 0px 0px;
	margin: 21px 0px;
	}
	
#linkBox ul {
	margin: 10px 0px;
	padding: 0px;
	}
	
#linkBox li {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	border-top: 1px solid #0A627C;
	list-style: none;
	padding: 11px 0px;
	}

#linkBox ul#interestingLinks li {
	font-size: 12px;
	list-style: square;
	list-style-position: inside;
}

	
#linkBox a {
	color: #69B4B8;
	text-decoration: none;
	}
		
#linkBox a:hover {
	color: #FDE871;
	}
	
.linkDescription {
	font-size: 9px;
	line-height: 16px;
	}
	
/* --- UPDATE BLOG BOX --- */
	
#blogs {
	padding: 0px 0px 0px 23px;
	margin: 19px 0px -11px 0px;
	}
	
.blogBox {
	width: 233px;
	height: 150px;
	background-color: #0a627c;
	float: left;
	background-image:url(../images/blogCorner.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 10px 22px;
	margin: 4px 8px 4px 0px;
	}
	
#blogs div.blogBox:hover {
	background-image:url(../images/blogCornerHover.gif);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #4c8689;
	}
	
#blogs div.hilight {
	background-image:url(../images/blogCornerHover.gif);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #4c8689;
	}
	
.blogBox h4 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 24px;
	line-height: 37px;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	font-weight: normal;
	color:#fde871;
	}
	
.blogBox h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	}
	
.blogBox ul {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #ffffff;
	line-height: 21px;
	list-style: outside;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 20px;
	}
	
.blogBox a {
	color: #ffffff;
	text-decoration: none;
	}
	
.blogBox a:hover {
	color: #fde871;
	text-decoration: underline;
	}
	
/* --- END UPDATE BLOG BOX --- */	
	
/* --- LATEST ADDITION BOX --- */		
	
#latest {
	padding: 19px 0px 0px 0px;
	margin: 0px;
	}
	
.latestBox {
	width: 233px;
	height: 150px;
	background-color: #0a627c;
	background-image:url(../images/blogCorner.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 10px 22px;
	margin: 4px 8px 4px 0px;
	}
	
#latest div.blogBox:hover {
	background-image:url(../images/blogCornerHover.gif);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #4c8689;
	}
	
#latest div.hilight {
	background-image:url(../images/blogCornerHover.gif);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #4c8689;
	}
	
.latestBox h4 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 24px;
	line-height: 37px;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	font-weight: normal;
	color:#fde871;
	}
	
.latestBox h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	}
	
.latestBox ul {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #ffffff;
	line-height: 21px;
	list-style: outside;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 20px;
	}
	
.latestBox a {
	color: #ffffff;
	text-decoration: none;
	}
	
.latestBox a:hover {
	color: #fde871;
	text-decoration: underline;
	}
	
/* --- END LATEST ADDITION BOX --- */		
	
	
	
#footer {
	width: 850px;
	height: 101px;
	padding: 20px 0px 35px 0px;
	margin: 0 auto;
	clear: left;
	}

#footer h1 {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	}
	
#footer h1 a {
	background-image:url(../images/footerLogo.gif);
	background-repeat: no-repeat;
	width: 270px;
	height: 0px;
	padding: 101px 0px 0px 0px;
	display: block;
	overflow: hidden;
	margin: 0px;
	float: left;
	}

#footer ul {
	background-image:url(../images/footerNavigation.gif);
	height:20px;
	margin:23px 0px 0px 0px;
	padding:0px;
	width:574px;
	float: left;
	}
	
#footer li {
	float:left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
	
#footer li a {
	padding-top: 20px;
	height: 0px;
	display: block;
	overflow: hidden;
	}
	
#footer li a:hover {
	background-image: url(../images/footerNavigationHover.gif);
	background-repeat: no-repeat;
	}
	
#footer li#footerHome a {
	width: 73px;
	}	
	
#footer li#footerHome a:hover {
	background-position: 0px 0px;
	}		
	
#footer li#footerGallery a {
	width: 100px;
	}	
	
#footer li#footerGallery a:hover {
	background-position: -73px 0px;
	}	

#footer li#footerClassic a {
	width: 100px;
	}	
	
#footer li#footerClassic a:hover {
	background-position: -173px 0px;
	}	

#footer li#footerMedia a {
	width: 100px;
	}	
	
#footer li#footerMedia a:hover {
	background-position: -273px 0px;
	}	

#footer li#footerBlog a {
	width: 77px;
	}	
	
#footer li#footerBlog a:hover {
	background-position: -373px 0px;
	}

#footer li#footerSite a {
	width: 70px;
	}	
	
#footer li#footerSite a:hover {
	background-position: -450px 0px;
	}	

#footer li#footerLinks a {
	width: 54px;
	}	
	
#footer li#footerLinks a:hover {
	background-position: -520px 0px;
	}	
	
#footer p {
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 10px;
	line-height: 21px;
	margin: 17px 0px 0px 0px;
	padding: 0px;
	}
	
#footer a {
	color: #ffffff;
	text-decoration: none;
	}
	

/*-------- ACCORDION & PAGINATION ------------------------*/

#accordion {
	margin: 34px 0px;
	padding: 0px;
}

#accordion h3.background {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 18px;
	color: #fde871;
	font-style: italic;
	background-color: #0a627c;
	display: block;
	/*padding: 7px 16px 9px 16px;*/
	margin: 8px 0px 8px 0px;
	line-height: 18px;
	font-weight: normal;
	clear: left;
}

#accordion h3.highlight {
	background-color: #4C8689;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 18px;
	color: #fde871;
	font-style: italic;
	display: block;
	/*padding: 7px 16px 9px 16px;*/
	margin: 8px 0px 8px 0px;
	line-height: 18px;
	font-weight: normal;	
	clear: left;
}

#accordion h3 a {
	color: #fde871;
	font-weight: normal;
	display: block;
	margin: 8px 0px;
	padding: 15px 16px 16px;
}

.accordionContainer {
	margin: -11px 0px 11px 0px;
	padding: 0px 0px 5px 0px;
	height: auto;
}

.paginationContainer {
	background-color: #102a39;
	width: auto;
	padding: 7px 16px;
	border-bottom: 8px solid #0a627c;
}

.sitePaginationContainer {
	background-color: #102a39;
	width: auto;
	padding: 7px 16px;
	border-bottom: 8px solid #0a627c;
}

div#subContent div.paginationContainer img {
	border: 8px solid #4c8689;
	padding: 0px;
	margin: 8px 0px 5px 16px;
}

div#subContent div.paginationContainer img.media {
	margin: 0px 0px 5px 16px;
}

#subContent h4.mediaPlayer {
	color: #69B4B8;
	line-height: 25px;
	font-size: 16px;
}


#subContent ul.audioMedia {
	color: #69B4B8;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin:0;
	padding:0;
}

#subContent ul.audioMedia li {
	border-right: 1px solid #ffffff;
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
}

#subContent ul.audioMedia li.first {
	padding-left: 0px;
}

#subContent ul.audioMedia li.last {
	border-right: 0px;
	padding-right: 0px;
}

object.mediaPlayer {
	margin-left: -7px;
}

ul.relatedLinks {
	padding: 0px;
	margin: 0px;
}


ul.relatedLinks li {
	display: inline;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 0px 10px;
	border-left: 1px solid #ffffff;
}

ul.relatedLinks li.relatedLinks1 {
	font-weight: bold;
	border-left: 0px;
	padding-left: 0px;
	color: #FDE871;
}

ul.relatedLinks li a:hover {
	text-decoration: underline;
}


div.ui-tabs-hide {
	display : none;
}

ul.ui-tabs-nav {
	padding: 20px 0px 0px 0px;
	margin: 15px 16px -15px -16px;
	display: block;
}

div.ui-tabs {
	margin-bottom : 45px;
	overflow: visible;
}


ul.tabNavigation li {
	display: block;
	width: 104px;
	height: 23px;
	background-image:url(../images/tabBG2.gif);
	padding: 0px;
	margin: 0px;
	text-align: center;
	float: left;
}

div#subContent ul.tabNavigation li a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 23px;
	margin-left: -21px;
	display: block;
}

div#subContent ul.tabNavigation li a:hover {
	color: #FDE871;
}

div#subContent ul li.ui-tabs-selected {
	display: block;
	width: 104px;
	height: 23px;
	background-image:url(../images/tabBG.gif);
	padding: 0px;
	margin: 0px;
	text-align: center;
	float: left;
}

div#subContent ul li.ui-tabs-selected a {
	color: #FDE871;
}
	
	