<ul id="main_categories">
<% @categories.each do |category| %>
  <li><%= link_to category.name, category %>
    <ul>
      <% category.children.each do |subcategory| %>
        <li><%= link_to subcategory.name, subcategory %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<%= link_to 'Add Category', new_category_path %>
