<table id="editingImage" cellspacing="0">
<tr>
<td><h2>Editing album</h2>

<%= render 'form' %>
</td></tr></table>

<!--<%= link_to 'Show', [@album.category, @album] %> |
<%= link_to 'Back', @album.category %>-->
