<li>
  <% if album.images.empty? %>

  <% else %>
    <%= image_tag album.images.first.subject.url(:thumb) %><br />
  <% end %>

  <strong><%= link_to(album.name, [album.category, album]) %></strong>
  <p class="details">
    <%= album.images.count %> files, last updated on <%= album.updated_at %>
  </p>
</li>
