<li>
  <% if album.image_count.zero? %>

  <% else %>
    <%=
      link_to(
        (
          image_tag (
            album.cover || album.images.order(:subject_file_name).first
          ).subject.url(:thumb)
        ),
        [album.category, album]
      )
    %>
  <br />
  <% end %>

  <strong><%= link_to(album.name, [album.category, album]) %></strong>
  <p class="details">
    <%= album.image_count %> files, last updated on <%= album.updated_at %>
  </p>
</li>
