<table id="editCategories">
  <tr>
    <td>
      <h2>Editing Categories</h2>
      <%= render 'form' %>
    </td>
  </tr>
</table>
<!--<%= link_to 'Show', @category %> |-->
<!--<%= link_to 'Back', categories_path %>-->
