<table cellspacing="0" id="editingImage">
  <tr>
    <td>
      <h2>Editing image</h2>

      <%= render 'form' %>
    </td>
  </tr>
</table>
<!--<%= link_to 'Show', category_album_image_path(@image.album.category, @image.album, @image) %> |
<%= link_to 'Back', category_album_path(@image.album.category, @image.album) %>-->
