<!doctype html>
<title>Three-Lights.net Gallery</title>
<%= javascript_include_tag "/gallery/assets/javascripts/application.js" %>

<a id="theLink" href="#">
  <%= image_tag @image.subject.url(:original) %>
</a>

<script type="text/javascript">
  $('#theLink').click(function(e) {
    e.preventDefault();
    window.close();
  });
</script>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5017560b613f5d7c58000001');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
