<%
  if defined? category
    images = category.images(8, 'created_at desc')
  else
    images = Image.limit(8).order('created_at desc').all
  end
%>
<table class="latest_images">
  <tr>
    <th>
      Latest Images
    </th>
  </tr>

  <tr>
    <td>
      <ul>
        <%= render :partial => 'images/image', :collection => images %>
      </ul>
    </td>
  </tr>


</table>
