<%
  if defined? category
    images = category.images(8, 'created_at desc')
  else
    images = Image.limit(8).order('created_at desc').all
  end
%>
<table class="latest_images" cellspacing="0">
  <tr id="latestImg">
    <td>
      Latest Additions
    </td>
  </tr>

  <tr class="images">
    <td>
      <ul>
        <%= render :partial => 'images/image', :collection => images %>
      </ul>
    </td>
  </tr>


</table>
<clear="left" />
