<table id="newImage" cellspacing="0">
  <tr>
    <td>
      <h2>New image</h2>

      <%= render 'form' %>
    </td>
  </tr>
</table>
<!--<%= link_to 'Back', [@image.album.category, @image.album] %>-->
