<%
  if defined? category
    images = Image.random category
  else
    images = Image.random
  end
%>
<table class="random_images">
  <tr>
    <th>
      Random Images
    </th>
  </tr>

  <tr>
    <td>
      <ul>
        <%= render :partial => 'images/image', :collection => images %>
      </ul>
    </td>
  </tr>


</table>
