<%
  if defined? category
    images = Image.random(category, 8)
  else
    images = Image.random(nil, 8)
  end
%>
<table class="random_images" cellspacing="0">
  <tr id="randomImg">
    <td>
      Random Images
    </td>
  </tr>

  <tr class="images2">
    <td>
      <ul>
        <%= render :partial => 'images/image', :collection => images %>
      </ul>
    </td>
  </tr>


</table>
